[defaults]
inventory         = inventory
roles_path        = roles
filter_plugins    = filter_plugins
host_key_checking = False
timeout           = 30
forks             = 5
stdout_callback   = default

[inventory]
enable_plugins = yaml, ini, host_list

[privilege_escalation]
become        = True
become_method = sudo
